.homepage section[role=main] {
    margin-left: 0px;
}

h1, #preferences {
    text-align: center;
}

.or {
    text-decoration: underline;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}
